In [1]:
import streamlit as st
import numpy as np
import pandas as pd

2022-09-22 11:52:53.976 INFO    numexpr.utils: NumExpr defaulting to 8 threads.
2022-09-22 11:52:54.674 WARNING matplotlib: Duplicate key in file WindowsPath('C:/Users/k-1/anaconda/lib/site-packages/matplotlib/mpl-data/matplotlibrc'), line 257 ('font.family:  IPAexGothic')

In [3]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.70],
    columns=['lat', 'lon']
)
df

          lat         lon
0   35.698613  139.710338
1   35.699599  139.714483
2   35.709941  139.717307
3   35.692496  139.716169
4   35.695422  139.708955
..        ...         ...
95  35.701140  139.712401
96  35.701339  139.718589
97  35.708499  139.703364
98  35.706802  139.704909
99  35.701174  139.714961

[100 rows x 2 columns]